<div class="vertical-center-content">
  <div class="resume-index-content" data-controller="display-description-resume">
    <div class="experiences">
      <div class="work-experiences">
        <h1 class="list-title">Work</h1>
        <ul class="remove-disc">
          <% @professional_experiences.each do |professional_experience| %>
            <li>
              <p class="underline-link" data-display-description-resume-target="experience" data-action="click->display-description-resume#displayDescription" data-display-description-resume-id-param='<%= professional_experience.id %>' data-display-description-resume-section-param="work"><%= professional_experience.title %> <%= professional_experience.company.upcase %></p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="study-experience">
        <h1 class="list-title">Study</h1>
        <ul class="remove-disc">
          <% @trainings.each do |training| %>
            <li>
              <p class="underline-link" data-display-description-resume-target="experience" data-action="click->display-description-resume#displayDescription" data-display-description-resume-id-param='<%= training.id %>' data-display-description-resume-section-param="study"><%= training.title %> <%= training.institution.upcase %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="experience-description">
      <p data-display-description-resume-target="descriptionText" class="text-experience-description">click on one experience to see the description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eligendi et velit maiores id! In doloribus, earum, reiciendis laboriosam corrupti veniam dicta non laudantium saepe officiis consequatur ullam similique voluptatibus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, itaque sapiente aliquid ad similique dolore praesentium adipisci culpa debitis saepe commodi dolores incidunt ullam omnis animi minus nobis? Ipsa, fugit?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat ratione impedit perspiciatis nisi possimus a error accusantium earum amet iure, minus dolor quis debitis laborum cumque ipsa repellat iste quidem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, soluta neque accusantium maiores distinctio voluptatum doloribus voluptas libero repellat, facilis architecto! Fugiat asperiores enim repudiandae illum voluptatem, officiis quod recusandae.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit illum debitis tempore amet dignissimos cumque voluptas repellendus obcaecati quas totam. Nihil a architecto veniam voluptates velit cumque provident rerum quia.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam quaerat tempora modi molestiae? Voluptas iste, rerum doloribus aliquam repellendus laudantium, vitae laboriosam ut labore, modi eos perspiciatis similique natus!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, quam facilis blanditiis error iusto hic voluptates quibusdam natus culpa libero ad non modi ex autem a, architecto id omnis incidunt.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat ratione impedit perspiciatis nisi possimus a error accusantium earum amet iure, minus dolor quis debitis laborum cumque ipsa repellat iste quidem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, soluta neque accusantium maiores distinctio voluptatum doloribus voluptas libero repellat, facilis architecto! Fugiat asperiores enim repudiandae illum voluptatem, officiis quod recusandae.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit illum debitis tempore amet dignissimos cumque voluptas repellendus obcaecati quas totam. Nihil a architecto veniam voluptates velit cumque provident rerum quia.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam quaerat tempora modi molestiae? Voluptas iste, rerum doloribus aliquam repellendus laudantium, vitae laboriosam ut labore, modi eos perspiciatis similique natus!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, quam facilis blanditiis error iusto hic voluptates quibusdam natus culpa libero ad non modi ex autem a, architecto id omnis incidunt.
      </p>
    </div>
  </div>
</div>
