<%= render "shared/my-name" %>
<!-- <h4 id="presentation">full stack developer</h4> -->


<div class="resume-index-content" data-controller="display-description-resume">
  <div class="experiences">
    <div class="work-experiences">
      <h1 class="list-title">Work</h1>
      <ul class="remove-disc">
        <% @professional_experiences.each do |professional_experience| %>
          <li>
            <p><%= professional_experience.title %> - <%= professional_experience.company %></p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="study-experience">
      <h1 class="list-title">Study</h1>
      <ul class="remove-disc">
        <% @trainings.each do |training| %>
          <li>
            <p><%= training.title %> - <%= training.institution %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="experience-description" data-controller="typed-js">
    <p class="text-experience-description"><span data-typed-js-target="explication"></span></p>
  </div>
</div>
