<div class="home-content">
  <h1>Hello I&#8217;m Benoit</h1>
  <div class="text-presentation">
    <p><strong>A Full-stack Developer / based near Lausanne, Switzerland.</strong> <br>
    Recently Graduated from <%= link_to("Le Wagon Bootcamp", "https://www.lewagon.com/", target: '_blank', class: "text-link underline-link") %>, I'm still working on personal project as my portfolio to
    keep learning, and I'm actively researching my first job experience to boost my progress <br>
    <br>
    With a background as a technician in automation, I installed, upgraded, and troubleshot an <%= link_to("Inline register control", "https://www.bobst.com/usen/products/gravure-printing-converting/gravure-printing-converting-lines/overview/machine/registronr-s-6100/", target: '_blank', class: "text-link underline-link") %>
    on printing machines. As I've always been attracted by programming logic and am keen to find a new career path where
    I have the possibility to learn and progress every day, so I chose web development.<br>
    <br>
    In my portfolio you will have the possibility to know more about me in the section <%= link_to("About", about_path, class: "text-link underline-link") %>,
    to discover my professional experiences in the section <%= link_to("Resume", professional_experiences_path, class: "text-link underline-link") %>, to discover my personal and professional projects in
    the section <%= link_to("Projects", projects_path, class: "text-link underline-link") %>, and join me in the section <%= link_to("Contact", new_contact_path, class: "text-link underline-link") %></p>
  </div>

  <div>
    <%= image_tag "Profil.jpg", alt: "Le Wagon", class: "avatar-large" %>
  </div>
</div>
