<%= render "shared/work_in_progress" %>

<div class="vertical-center-content">
  <div class="projects-index-content" data-controller="display-description-projects">
    <div class="projects">
      <div>
        <h1 class="projects-group">Professional</h1>
      </div>
      <div class="professional-projects">
        <% @professional_projects.each do |professional_project| %>
          <div class="professional-project">
            <p class="project-title underline-link" data-display-description-projects-target="project" data-action="click->display-description-projects#displayProjectDescription" data-display-description-projects-id-param='<%= professional_project.id %>' data-display-description-projects-section-param="professional"><%= professional_project.title %></p>
            <div></div>
          </div>
        <% end %>
      </div>
      <div>
        <h1 class="projects-group">Personnal</h1>
      </div>
      <div class="personnal-projects">
        <% @personnal_projects.each do |personnal_project| %>
          <div class="personnal-project">
            <p class="project-title underline-link" data-display-description-projects-target="project" data-action="click->display-description-projects#displayProjectDescription" data-display-description-projects-id-param='<%= personnal_project.id %>' data-display-description-projects-section-param="personnal"><%= personnal_project.title %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="project-description">
      <div data-display-description-projects-target="iconContainer" class="container-project-icon"></div>
      <div class="title-project-description"></div>
      <div class="time-project-description"></div>
      <p class="text-project-description" data-display-description-projects-target="descriptionText">click on one project to see the description</p>
    </div>
  </div>
</div>
