<p class="text-informatif"><strong>Sorry but I keep this place for maintenance</strong></p>
<div class="text-center d-flex justify-content-around">
  <%= link_to 'Go back ''<i class="fa-solid fa-rotate-left"></i>'.html_safe, root_path, class: "nav-link" %>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                label: "Keyword",
                required: false %>
    <%= f.input :password,
                label: "Secret",
                required: false,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
